.heading-dropdown {
    color: #263847;
    font-family: "Spectral";
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
        i {
            margin-right: 20px;
            font-size: 18px;
        }
}

