<form [formGroup]="form" autocomplete="off" novalidate [autocomplete]="'off'" (ngSubmit)="onSubmit()">
    <h3 class="mb-2">Enter your account details to log-in</h3>
    <div class="mt-2">
        <div class="form-group">
            <input
                type="email"
                autocomplete="new-password"
                class="form-control"
                [ngClass]="{'is-invalid' : form.controls.username.invalid && form.controls.username.touched}"
                formControlName="username"
                placeholder="Email">
            <div class="invalid-feedback">Enter a valid email</div>
        </div>
        <div class="form-group">
            <input
                type="password"
                class="form-control"
                autocomplete="new-password"
                [ngClass]="{'is-invalid' : form.controls.password.invalid && form.controls.password.touched}"
                formControlName="password"
                placeholder="Password">
            <div class="invalid-feedback" *ngIf="passwordValidated">Password must be 8 characters or more</div>
            <div class="invalid-feedback" *ngIf="!passwordValidated">Email / password combination incorrect</div>
        </div>

        <div class="mt-2">
            <a (click)="triggerForgottenPassword()" class="hover">Forgot password?</a>
        </div>

        <div class="mt-5 text-center">
            <button
                [disabled]="form.invalid"
                class="btn btn-round btn-primary"
                type="submit"
                tabindex="3">Log-in
            </button>
        </div>
    </div>
</form>
