
@import "~src/assets/css/mixins";
.board-col-group {
    margin: 2px;
    flex-basis: auto;
    flex-grow: 1;
    border: 0px solid #DCDFE2;
}

.board-col-group .title {
    font-size: 16px;
    text-align: left;
    // background-color: #ccc;
    color: #fff!important;
    width: auto;
    padding: 13px;
    background-color: #263847;
}

.board-col {
    margin: 2px;
    flex-basis: 100%;
    flex-grow: 0;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 50%);
}
.board-col .title {
    font-size: 13px;
    text-align: left;
    // background-color: #3d4d59;
    color: #fff!important;
    // width: 100%;
    padding: 7px;
    margin-bottom: 0;
    background-color: transparent;
    color: #DCDFE2 !important;
}

.card {
    // margin: 8px 10px!important;
    margin: 0 !important;
    border: none;
    border-radius: 0;
    background-color: #fff;
    position: relative;
    // box-shadow: 0 2px 4px 0 rgb(0 0 0 / 50%);
}

.card > hr {
    margin:0px !important;
    color: #DCDFE2;
    opacity: 1;
}
.card-content {
    padding: 5px 7px 0 7px !important;   
}
.colDanger {
    color: rgba(240, 52, 52, 0.5)
}
p.sm {
    font-size: 12px;
    font-weight: 600;
}
p.md {
    font-size: 14px;
}
p.lg {
    font-size: 16px;
    font-weight: bold;
}

.inner-title-color {
    // background-color: #3d4d59;
    background-color: #737E87;
    margin: 0;
    padding: 0 3px;
}

.card-content > p:nth-of-type(1) {
    font-weight: 700 !important;
}

.duo {
    font-weight: 700;
}

.card-content .row .text-right a {
    color: #aba7a7;
    float: right;
}

.card-content .text-right i {
    float: right;
    margin-top: 5px;
}

.row .col-6.text-right:nth-of-type(2) .md {
    float: right;
}

.bg-light-grey {
    background-color: #f0f1f2;
}

/** Board Popup Css**/
::ng-deep .custom-board {
    .popover,
    .list-group-item {
        font-size: $font-size-xs;
        border: 0 solid rgba(0, 0, 0, 0.125) !important;

        button.btn {
            text-align: left;
            border: none;
            box-shadow: none;
            padding: 0 !important;
            position: relative;

            &:focus {
                border: none;
                box-shadow: none;
            }
        }

        .hasIconRight i {
            position: absolute;
            left: auto;
            right: 10px;
            top: 12px;
        }

        i {
            color: #5d6b7d;
        }

        a {
            font-size: $font-size-xs;

            &:hover {
                color: inherit;
            }
        }

        img.confirm-order-icon {
            width: 19px;
            margin-right: 1px;
            position: relative;
            right: 2px;
        }
    }

    .popover {
        box-shadow: 0 0 17px rgb(0 0 0 / 60%) !important;
        width: 100% !important;

        .list-group-item {
            border-bottom: 1px solid #dfdede !important;
        }

        .popover-body {
            padding: 0 !important;
        }

        .popover-arrow {
            transform: none;
            left: 12px !important;
            width: 0;
            height: 0;

            &:after,
            &:before {
                border-width: 0;
            }
        }

        &.bs-popover-bottom .popover-arrow {
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid #fefefe;
        }

        &.bs-popover-top .popover-arrow {
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid #fefefe;
        }
    }

    .color-red {
        color: $danger !important;
    }

    .lightgrey {
        color: $gray;
    }

    .list-group {
        border-radius: 0;
    }
}

