@import "~src/assets/css/mixins";

.modal {
    z-index: 3000;
    display: block;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1075;
    background-color: $dark;

    &.show {
        opacity: 0.7;
    }
}

@media (min-width: 1200px) {
    .modal-xl {
        max-width: 1440px;
    }
}
