<div class="menu-holder menu-open" *ngIf="user">
    <div class="menu-container">
        <div class="list-group">
            <ng-container *ngIf="user.accountType === 'courier'">
                <button
                    type="button"
                    class="list-group-item list-group-item-action list-group-item-title">
                    Actions
                </button>
                <button
                    (click)="requestCreate()"
                    type="button"
                    [ngClass]="{'active': step === 'chat'}"
                    class="list-group-item list-group-item-action">
                    <!--                        <i class="fa fa-fw menu-icon text-pink" [ngClass]="item.icon" *ngIf="item.icon"></i>-->
                    Submit a Request
                </button>

                <button
                    [routerLink]="['/account', 'mail']"
                    type="button"
                    [routerLinkActive]="['active']"
                    [ngClass]="{'active': step === 'chat'}"
                    class="list-group-item list-group-item-action">
                    <!--                        <i class="fa fa-fw menu-icon text-pink" [ngClass]="item.icon" *ngIf="item.icon"></i>-->
                    Chat
                </button>
                <hr />

                <button
                    type="button"
                    class="list-group-item list-group-item-action list-group-item-title">
                    Navigation
                </button>

                <button
                    [routerLink]="['/account']"
                    type="button"
                    [ngClass]="{'active': step === 'overview'}"
                    class="list-group-item list-group-item-action">
                    Overview
                </button>
                <button
                    [routerLink]="['/account/shipments-board']"
                    type="button"
                    [ngClass]="{'active': step === 'shipmentsBoard'}"
                    class="list-group-item list-group-item-action">
                    Shipments Board
                </button>

            </ng-container>

            <hr />
            <div class="account-info">
                <h3>Account Name</h3>
                <p>{{user.company.name}}</p>

                <h3>Average Rating</h3>
                <div class="mb-2">
                    <app-rating-icons></app-rating-icons>
                </div>

                <h3>Company Number</h3>
                <p>{{user.company.companyNumber}}</p>
                <h3>VAT Number</h3>
                <p>{{user.company.vatNumber}}</p>
            </div>

        </div>
    </div>
</div>
