<div class="menu-holder menu-open" *ngIf="user">
    <div class="menu-container">
        <div class="list-group">

            <ng-container *ngIf="user.accountType === 'supplier'">
                <button
                    type="button"
                    class="list-group-item list-group-item-action list-group-item-title">
                    Actions
                </button>
                <button
                    (click)="requestCreate()"
                    type="button"
                    [ngClass]="{'active': step === 'chat'}"
                    class="list-group-item list-group-item-action">
                    Submit a Request
                </button>
                <button
                    [routerLink]="['/account', 'mail']"
                    type="button"
                    [routerLinkActive]="['active']"
                    [ngClass]="{'active': step === 'chat'}"
                    class="list-group-item list-group-item-action">
                    <!--                        <i class="fa fa-fw menu-icon text-pink" [ngClass]="item.icon" *ngIf="item.icon"></i>-->
                    Chat
                </button>
                <hr />

                <button
                    type="button"
                    class="list-group-item list-group-item-action list-group-item-title">
                    Navigation
                </button>

                <button
                    [routerLink]="['/account']"
                    type="button"
                    [ngClass]="{'active': step === 'overview'}"
                    class="list-group-item list-group-item-action">
                    Overview
                </button>
                <button
                    [routerLink]="['/account/orderdetails']"
                    type="button"
                    [ngClass]="{'active': step === 'orders'}"
                    class="list-group-item list-group-item-action">
                    Orders
                </button>
                <button
                    [routerLink]="['/account/ordersamples']"
                    type="button"
                    [ngClass]="{'active': step === 'samples'}"
                    class="list-group-item list-group-item-action">
                    Sample Requests
                </button>
                <button
                    [routerLink]="['/account/requests']"
                    type="button"
                    [ngClass]="{'active': step === 'samples'}"
                    class="list-group-item list-group-item-action">
                    Yorkstone Requests
                </button>
                <button
                    [routerLink]="['/account/products']"
                    type="button"
                    [ngClass]="{'active': step === 'products'}"
                    class="list-group-item list-group-item-action">
                    Products
                </button>
                <button
                    [routerLink]="['/account/users']"
                    type="button"
                    [ngClass]="{'active': step === 'users'}"
                    class="list-group-item list-group-item-action">
                    Users
                </button>
                <button
                    [routerLink]="['/account/couriers']"
                    type="button"
                    [ngClass]="{'active': step === 'couriers'}"
                    class="list-group-item list-group-item-action">
                    Couriers
                </button>




            </ng-container>

            <ng-container *ngIf="user.accountType === 'trade'">

                <button
                    type="button"
                    class="list-group-item list-group-item-action list-group-item-title">
                    Actions
                </button>
<!--                <button-->
<!--                    (click)="requestCreate()"-->
<!--                    type="button"-->
<!--                    [ngClass]="{'active': step === 'chat'}"-->
<!--                    class="list-group-item list-group-item-action">-->
<!--                    &lt;!&ndash;                        <i class="fa fa-fw menu-icon text-pink" [ngClass]="item.icon" *ngIf="item.icon"></i>&ndash;&gt;-->
<!--                    Submit a Request-->
<!--                </button>-->

                <button
                    [routerLink]="['/account', 'mail']"
                    type="button"
                    [routerLinkActive]="['active']"
                    [ngClass]="{'active': step === 'chat'}"
                    class="list-group-item list-group-item-action">
                    <!--                        <i class="fa fa-fw menu-icon text-pink" [ngClass]="item.icon" *ngIf="item.icon"></i>-->
                    Chat
                </button>
                <hr />

                <button
                    type="button"
                    class="list-group-item list-group-item-action list-group-item-title">
                    Navigation
                </button>

                <button
                    [routerLink]="['/account']"
                    type="button"
                    [ngClass]="{'active': step === 'overview'}"
                    class="list-group-item list-group-item-action">
                    Overview
                </button>
                <button
                    [routerLink]="['/account/orders']"
                    type="button"
                    [ngClass]="{'active': step === 'orders'}"
                    class="list-group-item list-group-item-action">
                    Orders
                </button>
                <button
                    [routerLink]="['/account/areas']"
                    type="button"
                    [ngClass]="{'active': step === 'areas'}"
                    class="list-group-item list-group-item-action">
                    Areas Covered
                </button>

                <button
                    [routerLink]="['/account/casestudies']"
                    type="button"
                    [ngClass]="{'active': step === 'casestudies'}"
                    class="list-group-item list-group-item-action">
                    Case Studies
                </button>
            </ng-container>

            <ng-container *ngIf="user.accountType === 'courier'">

                <button
                    type="button"
                    class="list-group-item list-group-item-action list-group-item-title">
                    Actions
                </button>
                <button
                    (click)="requestCreate()"
                    type="button"
                    [ngClass]="{'active': step === 'chat'}"
                    class="list-group-item list-group-item-action">
                    <!--                        <i class="fa fa-fw menu-icon text-pink" [ngClass]="item.icon" *ngIf="item.icon"></i>-->
                    Submit a Request
                </button>

                <button
                    [routerLink]="['/account', 'mail']"
                    type="button"
                    [routerLinkActive]="['active']"
                    [ngClass]="{'active': step === 'chat'}"
                    class="list-group-item list-group-item-action">
                    <!--                        <i class="fa fa-fw menu-icon text-pink" [ngClass]="item.icon" *ngIf="item.icon"></i>-->
                    Chat
                </button>
                <hr />

                <button
                    type="button"
                    class="list-group-item list-group-item-action list-group-item-title">
                    Navigation
                </button>

                <button
                    [routerLink]="['/account']"
                    type="button"
                    [ngClass]="{'active': step === 'overview'}"
                    class="list-group-item list-group-item-action">
                    Overview
                </button>
                <button
                    [routerLink]="['/account/shipments-board']"
                    type="button"
                    [ngClass]="{'active': step === 'shipmentsBoard'}"
                    class="list-group-item list-group-item-action">
                    Shipments Board
                </button>

            </ng-container>


            <hr />
            <div class="account-info">
                <h3>Account Name</h3>
                <p>{{user.company.name}}</p>

                <h3>Average Rating</h3>
                <div class="mb-2">
                    <app-rating-icons></app-rating-icons>
                </div>

                <h3>Company Number</h3>
                <p>{{user.company.companyNumber}}</p>
                <h3>VAT Number</h3>
                <p>{{user.company.vatNumber}}</p>
            </div>


        </div>
    </div>
</div>



