:host {
  .sweet-alert {
    overflow: visible;
  }
  .btn.is-invalid {
    opacity: 0.4;
    cursor: not-allowed;
  }

  &.w-800 {
    .sweet-alert {
      width: 800px !important;
      margin-left: -400px;
    }
  }
}
