.alert {
  position: fixed;
  bottom: -16px;
  width: 100%;
  z-index: 9999;
  padding: 10px;
  box-shadow: none;
  border: none;
  color: white;
  font-size: 18px;
  text-align: center;
  border-radius: 0;
}
.alert-danger {
  background-color: red;
}
.alert-success {
  background-color: #28a745;
}
.closebtn {
  color: #fff;
  font-size: 32px;
  font-weight: 200;
  text-shadow: none;
  opacity: 1;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  line-height: 23px;
}
.messages {
  position: relative;
}


ul {
  list-style: none;
  padding-inline-start: 0;
}
dl, ol, ul {
  margin-top: 0;
  margin-bottom: 0;
}
